[R2]
type = s3
provider = Cloudflare
access_key_id = {{ (ejsonDecryptWithKey (print .chezmoi.sourceDir "/secrets.ejson") .ejson_pkey)._s3._cloudflare.r2_access_key_id }}
secret_access_key = {{ (ejsonDecryptWithKey (print .chezmoi.sourceDir "/secrets.ejson") .ejson_pkey)._s3._cloudflare.r2_secret_access_key }}
endpoint = https://{{ (include (print .chezmoi.sourceDir "/secrets.ejson") | fromJson)._s3._cloudflare._account_id }}.r2.cloudflarestorage.com

[dl.schanz.id]
type = alias
remote = R2:/public

[az]
type = azureblob
account = {{ (include (print .chezmoi.sourceDir "/secrets.ejson") | fromJson)._s3._azure._storage_account_name }}
key = {{ (ejsonDecryptWithKey (print .chezmoi.sourceDir "/secrets.ejson") .ejson_pkey)._s3._azure.storage_account_key }}

[pdf-ocr-in]
type = alias
remote = az:/pdf-ocr-in

[pdf-ocr-out]
type = alias
remote = az:/pdf-ocr-out
