{{ $keybindings := list }}

{{- if or (has "alacritty" .packages) (has "gnome-console" .packages) }}
{{- $cmd := ternary "alacritty" "kgx" (has "alacritty" .packages) -}}
{{- $keybindings = append $keybindings (dict
    "binding" "<Super>t"
    "command" $cmd
    "name" "Terminal")
-}}
{{ end -}}

{{- if has "wl-clipboard" .packages }}
{{- if and (has "mpv" .packages) (has "jq" .packages) }}
{{- $keybindings = append $keybindings (dict
    "binding" "<Control><Super>p"
    "command" "cliptts"
    "name" "Text to Speech")
-}}
{{ end -}}

{{- if has "sox" .packages }}
{{- $keybindings = append $keybindings (dict
    "binding" "<Control><Super>r"
    "command" "clipstt"
    "name" "Speech to Text")
-}}
{{ end -}}
{{ end -}}

[org/gnome/settings-daemon/plugins/media-keys]
custom-keybindings=[
    {{- range $i, $_ := $keybindings -}}
    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom{{ $i }}/'
    {{- if ne (add1 $i) (len $keybindings) }}, {{ end -}}
    {{ end -}}
]
home=['<Super>e']

{{ range $i, $keybinding := $keybindings -}}
[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom{{ $i }}]
{{ range $k, $v := $keybinding -}}
{{ $k }}='{{ $v }}'
{{ end }}
{{ end -}}

[org/gnome/settings-daemon/plugins/power]
ambient-enabled=false
idle-dim=false
sleep-inactive-ac-type='nothing'
sleep-inactive-battery-type='nothing'
